---
layout: default
title: My portfolios
description:
---
<div class="container">
  <div class="page-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.portfolios__settings.portfolios__title }}{% endif %}</h1>
    {% if page.description %}
      <p class="page-description">{{ page.description }}</p>
    {% else site.data.settings.portfolios__settings.portfolios__description %}
      <p class="page-description">{{ site.data.settings.portfolios__settings.portfolios__description }}</p>
    {% endif %}
  </div>
</div>

<div class="projects-page container animate">
  <div class="row">
    {% for portfolio in site.portfolios reversed %}
      <article class="project col col-4 col-d-6 col-t-12">
        <div class="project__content">
          <a href="{{ portfolio.url }}" class="project__image">
            <img class="lazy" data-src="{{ portfolio.image }}" alt="{{ portfolio.title }}">
          </a>
          <div class="project__info">
            <h3 class="project__title"><a href="{{ portfolio.url }}">{{ portfolio.title }}</a></h3>
            {% if portfolio.description %}
            <div class="project__subtitle">{{ portfolio.description }}</div>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>