---
layout: default
---

<div class="container">

  <div class="page-head">
    <h1 class="page-title">Mein Portfolio: {{ page.title }}</h1>
    {% if page.description %}
      <p class="project-subtitle">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="project-content animate">
    {{ content }}
  </div>

  <div class="gallery-box">
    <div class="gallery">
      {% for image in page.images %}
        <img src="{{ image }}" loading="lazy" alt="a"/>
      {% endfor %}
    </div>
  </div>

</div>